In [2]:
import pandas as pd

In [42]:

def df_show(num_options, num_questions):
    num_options_list = ['' for i in range(num_options)]
    num_questions_list = [1+i for i in range(num_options)]

    df = {
        'P  R  E  G  U  N  T  A': num_questions_list,
        'R  E  S  P  U  E  S  T  A ': num_options_list
        }
    df = pd.DataFrame(df)
    df = df.transpose()
    df = df.style.set_properties(**{'font-family': 'Tahoma', 'font-size': '14pt'}) \
                        .set_table_styles([{
                            'selector': 'td, th',
                            'props': [('padding', '20px')]
                        }])
    with pd.ExcelWriter('df.xlsx', engine='openpyxl') as df_1:
        df.to_excel(df_1, index=True, header=False)

    return df

df = df_show(num_options= 8, num_questions= 7)
df

In [1]:
import pandas as pd
from openpyxl import Workbook
from openpyxl.styles import Font, Alignment, Border, Side
from openpyxl.utils.dataframe import dataframe_to_rows

def df_show(num_options, num_questions):
    num_options_list = ['' for _ in range(num_questions)]
    num_questions_list = [1 + i for i in range(num_questions)]

    df = {
        'P  R  E  G  U  N  T  A': num_questions_list,
        'R  E  S  P  U  E  S  T  A ': num_options_list
    }
    df = pd.DataFrame(df)
    df = df.transpose()

    wb = Workbook()
    ws = wb.active

    border_style = Border(
        left=Side(style='thin'),
        right=Side(style='thin'),
        top=Side(style='thin'),
        bottom=Side(style='thin')
    )

    for r_idx, row in enumerate(dataframe_to_rows(df, index=True, header=False), 1):
        for c_idx, value in enumerate(row, 1):
            cell = ws.cell(row=r_idx, column=c_idx, value=value)
            cell.font = Font(name='Tahoma', size=14)
            cell.alignment = Alignment(horizontal='center', vertical='center')  
            cell.border = border_style  

    first_col_letter = ws.cell(row=1, column=1).column_letter
    ws.column_dimensions[first_col_letter].width = 40  

    default_width = 10  
    for c_idx, col in enumerate(df.columns, start=2):  
        col_letter = chr(64 + c_idx)  
        ws.column_dimensions[col_letter].width = default_width

    for row in ws.rows:
        row_number = row[0].row
        ws.row_dimensions[row_number].height = 30 

    wb.save('df.xlsx')

    return df

df = df_show(num_options=8, num_questions=10)
df

                            0  1  2  3  4  5  6  7  8   9
P  R  E  G  U  N  T  A      1  2  3  4  5  6  7  8  9  10
R  E  S  P  U  E  S  T  A

In [94]:
nums1 = [1,2,3,0,0,0]
m = 3
nums2 = [2,5,6]
n = 3

class Solution:

    def merge(nums1, m, nums2, n):
        for i in range(len(nums1)):
            for j in range(len(nums2)):
                if nums1[i] == nums2[j]:
                    nums1.insert(i+1, nums2[j])
                    nums1.pop()
                    del nums2[j]
                    break

        print(max(nums1))

        for i in range(len(nums1)):
            
            for j in range(len(nums2)):
                
                if nums2[j] > max(nums1) and nums2[j] > nums1[i]:
                    print(i)
                    nums1.insert(-1, nums2[j])
                    nums1.pop()
        return nums1
                    
                

x = Solution.merge(nums1, m, nums2, n)
x

3
0
0

[1, 2, 2, 3, 0, 6]

In [82]:
max(nums1)

6